[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
create-python-project = {file = ".", editable = true}

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
